.d-box-container {
  color: var(--text-color);
  padding: 0 4rem;
  background: var(--bg);
}

.title-projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  min-height: calc(945px - var(--header-height));
}

.title-right-projectContainer {
  display: block;
  width: 100%;
  height: 35%;
  max-width: 100%;

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.title-left-projectContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-evenly;
}

.topPart h1 {
  margin: 0;
}

.oneLiner {
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 0;
}

.authorsAndYear {
  font-size: 1.5rem;
  margin: 0;
}

.tags.detailed {
  justify-content: center;
}

.links.detailed {
  margin-top: 2rem;
}

.section.abstract {
  padding: 0;
}

.section.abstract p {
  width: 80%;
  max-width: 800px;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.problem-statement {
  padding: 0;
}

.section.problem-statement p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.solution {
  padding: 0;
}

.section.solution p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.features {
  padding: 0;
}

.section.features p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.walkthrough {
  padding: 0;
}

.section.walkthrough p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.infrastructure {
  padding: 0;
}

.section.infrastructure p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.challenges {
  padding: 0;
}

.section.challenges p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.result {
  padding: 0;
}

.section.result p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.section.future-work {
  padding: 0;
}

.section.future-work p {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.main-detailedProject .section:last-of-type {
  padding-bottom: 2rem;
}

@media (max-width: 740px) {
  .title-right-projectContainer {
    background-position: top left;
  }
}

@media (max-width: 530px) {
  .topPart h1 {
    font-size: 3rem;
  }

  .topPart .oneLiner {
    font-size: 1.6rem;
  }
  .authorsAndYear {
    font-size: 1.4rem;
  }
  .title-left-projectContainer,
  .authorsAndYear {
    gap: 4rem;
  }
}

@media (max-width: 470px) {
  .topPart h1 {
    font-size: 2.5rem;
  }
  .topPart .oneLiner {
    font-size: 1.5rem;
  }
  .authorsAndYear {
    font-size: 1.3rem;
  }
  .title-left-projectContainer,
  .authorsAndYear {
    gap: 3rem;
  }
}
