.details-container {
  color: var(--text-color);
  padding: 0 4rem;
  background: var(--bg);
}

.title-projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  min-height: calc(945px - var(--header-height));
}

.title-right-projectContainer {
  margin-top: 1rem;
  display: block;
  width: min(100%, 1080px);
  height: clamp(240px, 35vh, 460px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.urbanaipic {
  width: 100%;
  background-position: center;
}

.jetsimpic {
  width: 100%;
  background-position: center;
}

.dboxpic {
  width: min(100%, 1080px);
}

.familysharepic {
  width: min(100%, 570px);
}

.title-left-projectContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: space-evenly;
}

.topPart h1 {
  margin: 0;
}

.oneLiner {
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 0;
}

.authorsAndYear {
  font-size: 1.5rem;
  margin: 0;
}

.tags.detailed {
  justify-content: center;
}

.links.detailed {
  margin-top: 2rem;
}

/* Images and Videos */
.media-figure {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: min(100%, 900px);
  justify-content: center;
  margin: 1.25rem 0;
}

.media-embed {
  width: 100%;
  display: block;
  border: 0;
}

.media-caption {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 0.5rem;
}

.section.abstract {
  padding: 0;
}

.section .section-body {
  white-space: pre-line;
}

.list-block-parent {
  display: flex;
  justify-content: left;
  margin: 1rem 0;
}

.list-block {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section.abstract div {
  width: 80%;
  max-width: 800px;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.problem-statement {
  padding: 0 5rem;
}

.section.problem-statement div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.solution {
  padding: 0 5rem;
}

.section.solution div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.features {
  padding: 0 5rem;
}

.section.features div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.walkthrough {
  padding: 0 5rem;
}

.section.walkthrough div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.infrastructure {
  padding: 0 5rem;
}

.section.infrastructure div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.challenges {
  padding: 0 5rem;
}

.section.challenges div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.results {
  padding: 0 5rem;
}

.section.results div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.section.future-work {
  padding: 0 5rem;
}

.section.future-work div {
  width: 100%;
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  font-size: 1.4rem;
}

.main-detailedProject .section:last-of-type {
  padding-bottom: 5rem;
}

@media (max-width: 1440px) {
  .section.problem-statement,
  .section.solution,
  .section.features,
  .section.walkthrough,
  .section.infrastructure,
  .section.challenges,
  .section.results,
  .section.future-work {
    padding: 0 3rem;
  }
}

@media (max-width: 1200px) {
  .section.problem-statement,
  .section.solution,
  .section.features,
  .section.walkthrough,
  .section.infrastructure,
  .section.challenges,
  .section.results,
  .section.future-work {
    padding: 0 1rem;
  }
}

@media (max-width: 900px) {
  .section.problem-statement,
  .section.solution,
  .section.features,
  .section.walkthrough,
  .section.infrastructure,
  .section.challenges,
  .section.results,
  .section.future-work {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .details-container {
    padding: 0 3rem;
  }
}

@media (max-width: 530px) {
  .topPart h1 {
    font-size: 3rem;
  }

  .topPart .oneLiner {
    font-size: 1.6rem;
  }
  .authorsAndYear {
    font-size: 1.4rem;
  }
  .title-left-projectContainer,
  .authorsAndYear {
    gap: 4rem;
  }
  .details-container {
    padding: 0 2rem;
  }
  .section.abstract div,
  .section.problem-statement div,
  .section.solution div,
  .section.features div,
  .section.walkthrough div,
  .section.infrastructure div,
  .section.challenges div,
  .section.results div,
  .section.future-work div {
    line-height: 1.5;
    font-size: 1.2rem;
  }
  .media-caption {
    font-size: 1rem;
  }
}

@media (max-width: 470px) {
  .topPart h1 {
    font-size: 2.5rem;
  }
  .topPart .oneLiner {
    font-size: 1.5rem;
  }
  .authorsAndYear {
    font-size: 1.3rem;
  }
  .title-left-projectContainer,
  .authorsAndYear {
    gap: 3rem;
  }
  .section.abstract div,
  .section.problem-statement div,
  .section.solution div,
  .section.features div,
  .section.walkthrough div,
  .section.infrastructure div,
  .section.challenges div,
  .section.results div,
  .section.future-work div {
    font-size: 1.1rem;
  }

  .media-caption {
    font-size: 0.9rem;
  }
}
